.home-info-image {
    width: 100%; /* Adjust width as needed */
    height: auto;
    margin-bottom: -20px; /* Space between the image and the header */
    margin-bottom: 20px; /* Space between the image and the title */
}
