<!-- All the CSS Files for this Custom Theme are stored in: "assets/css/custom.css" -->

{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <!-- Add the image here -->
        <img src="{{ "./images/techvista.png" | relURL }}" alt="techvista" class="home-info-image">
        
        <h1 class="centered-title">{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>

<style>
.centered-title {
    text-align: center;
    margin-top: -40px; /* Adjust as needed */
    margin-bottom: 30px;
}
</style>
{{- end -}}
